<% @facade.merchants.each do |merchant|  %>
  <ul class="merchant">
    <li class="id"><%= merchant.id %></li>
    <li class="type"><%= merchant.type %></li>
    <li class="name"><%= merchant.name %></li>
  </ul>
<% end %>